@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*font-family: 'sans serif', 'Montserrat';*/
    font-family: 'sans serif', 'Poppins';
} 


.ledger-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;

}
#title-row div{
    background-color: #88aded;
}
.title{
    background-color: #88aded;
}
.row-inner{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 80px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.deposit, .expense, .date {
    /*background-color: #c9daf8;*/
}
.row-inner-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*.row-inner{
    flex-direction: row;
}*/

.note{
    font-size: 12px;
}

.expense{
    position: relative;
}

.leftover-div{
    /*border: 1px solid red;*/
    width: 33%;
    height: 20px;
    position: absolute;
    bottom:0;
    right:0;
    color: grey;
}

p{
    font-size: 16px;
}
input{
    font-size: 16px;
    height: 40px;
    width: 75%;
    padding: 10px;
    outline: none;
    border: 1px solid #c9daf8;
}